@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <!-- modifica pagina de home -->
    <a class="btn btn-outline-secondary" style=" border-radius: 25px;" href="/Recipes/Index">See the recipes</a>
</div>
